@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Baskerville&family=PT+Serif&family=Roboto+Slab:wght@100;400&display=swap');

:root{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Slab', serif;
    margin:0px;
    border:0px;
    padding:0px;
    display:inline-block;
    flex-wrap:wrap;
    text-align:center;
}

header{
    text-align:center;
    background-image: linear-gradient(5deg, #1973D1 5%, #010280 50%);
    height:75px;
    color:white;
}

header h1{
    margin:auto;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color:black;
}

.today-card{ 
    text-align:center;
    margin:5px;
    border:3px solid grey;
    height:40%;
    width:95%;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 90%;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    position: relative;
  }
  
.container {
    display: flex;
    min-height: calc(100% - 100px);
}

aside {
    width: 200px; 
    background-image: linear-gradient(5deg, #1973D1 5%, #010280 50%);
    text-align: center;
    color:white;

}


#search-button{
    margin:5px;
    width:80%;
    height:5%;
    background-image: linear-gradient(5deg, #1973D1 5%, #010280 50%);
    color:white;

}

#text-input{
    margin:5px;
    width:85%;
    height:5%;
    text-align: center;
    background-image: linear-gradient(5deg, #1973D1 5%, #010280 50%);
    color:white;

}

main {
    flex-grow: 1;
}

footer {
    height: 100px; /* Adjust as needed */
    background-color: #f0f0f0; /* Optional background color */
}

.main-card{
    width:50%;
    margin:10px;
    padding:5px;
    border:3px solid grey;
    color:black;
}

.main-card h2{
    text-align: center;
}

.weatherCardsContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
  }
  
  .weatherCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-sizing: border-box; 
  }
  