@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Baskerville&family=PT+Serif&family=Roboto+Slab:wght@100;400&display=swap');

:root{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Slab', serif;
    margin:0px;
    border:0px;
    padding:0px;
    display:inline-block;
    flex-wrap:wrap;
}

header{
    text-align:center;
    background-image: linear-gradient(5deg, #1973D1 5%, #010280 50%);
    height:75px;
}

header h1{
    margin:auto;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


.container {
    display: flex;
    min-height: calc(100% - 100px); /* Adjust based on your footer height */
}

aside {
    width: 200px; /* Adjust as needed */
    background-color: #f0f0f0; /* Optional background color */
    text-align: center;
}

#search-button{
    margin:5px;
    width:80%;
    height:5%;

}

#text-input{
    margin:5px;
    width:85%;
    height:5%;
    text-align: center;

}

main {
    flex-grow: 1;
}

footer {
    height: 100px; /* Adjust as needed */
    background-color: #f0f0f0; /* Optional background color */
}

.main-card{
    width:50%;
    margin:10px;
    padding:5px;
    border:3px solid grey;
}

.main-card h2{
    text-align: center;
}

